doctype html
html
  include head.pug
  include navbar.pug
  body
    .wrapper
      include chat.pug
      .content
        #createGame
         h1 Create a game:
            .d-flex
            form.mx-1(action="/home/generatePublicGame" method="post")
              .form-group
                input.form-control(type="number" style="height: 32px" name="maxPlayers" placeholder="2" min="2" max="4" value="2")
              input.btn.btn-secondary(type="submit" value="PUBLIC")
            form.mx-1(action="/home/generatePrivateGame" method="post")
              .form-group
                input.form-control(type="number" style="height: 32px" name="maxPlayers" placeholder="2" min="2" max="4" value="2")
              input.btn.btn-secondary(type="submit" value="PRIVATE")
        #joinGame
          h2 Private games:
            form.mx-5(action="/home/joinPrivateGame" method="post")
              .input-group.mb-3
                span.input-group-text#inputGroup-sizing-default ENTER JOIN CODE
                input.form-control(type="text" name="code" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default")
                input.btn.btn-primary(type="submit" value="JOIN")
          h2 Public games
          .my-games
            each game in games.slice().reverse()
              if game.isPrivate == false
                .my-game
                  p
                    b game id:
                    br
                    | #{game.id}
                  p
                    b seats:
                    br
                    | #{game.number}/#{game.max_players}
                  p
                    b owner:
                    br
                    i #{game.username}
                  p
                    b created
                    br
                    | #{game.createdAt}
                  form(id="joinGameForm-" + game.id class="mx-1" action="/home/join/" + game.id method="post")
                    input(type="submit" class="btn btn-success" value="Join")
            

          //h2 This is home
  include footer.pug
  script( src="/javascripts/home.js")
